Package: com.128keaton.lptwitter
Name: LPTwitter
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Keaton Burleson
Author: Keaton Burleson
Section: Tweaks
